<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>Create Customer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-tab-group>
        <mat-tab label="General Information" class="my-tab">
          <table style="width: 100%" cellspacing="10">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Start date</mat-label>
                  <input [(ngModel)]="createdAt" [value]="createdAt"  matInput [matDatepicker]="picker" placeholder="Date of start">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>End date</mat-label>
                  <input  [(ngModel)]="endedAt" [value]="endedAt"  matInput [matDatepicker]="pickerEnd" placeholder="Date of end">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>





  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="editCustomer()" color="primary">Create</button>
  </mat-card-actions>
</mat-card>

